@model JugadoresFutbolPeruano.Models.Player

<h2>Registrar Jugador</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Nombre</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label>Edad</label>
        <input asp-for="Age" type="number" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div>
        <label>Posición</label>
        <input asp-for="Position" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div>
<select name="teamId" asp-items="ViewBag.Teams">
    <option value="">Seleccione un equipo</option>
</select>


    </div>

    <button type="submit">Registrar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
